Source: nx-software-center
Section: unknown
Priority: optional
Maintainer: Alexis Lopez Zubieta <azubieta90@gmail.com>
Build-Depends: debhelper (>=9), cmake (>= 3), qtdeclarative5-dev, libkf5auth-dev (>= 5.31), extra-cmake-modules (>= 5.30)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/nx-software-center.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nx-software-center.git

Package: nx-software-center
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
